:root {
  --primary-clr: #7f3dff;
  --secondary-clr: #eee5ff;
  --text-clr-1: #fcfcfc;
  --light-clr-1: #f1f1fa;
  --light-clr-2: #91919f;
  --dark-clr-1: #212325;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button.dark {
  background-color: var(--primary-clr);
  color: var(--text-clr-1);
}

button.light {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.clr-p {
  color: var(--primary-clr);
}

div.notification {
  padding: 5px;
  color: #fff;
}

div.notification.error {
  background-color: rgb(241, 85, 85);
}

div.notification.loading {
  background-color: lightblue;
}

div.notification.success {
  background-color: lightgreen;
}

main {
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  min-height: 600px;
  max-height: 812px;
  margin: auto;

  /* border: 1px solid; */
}

/* Navbar starts here */
nav {
  width: 90%;
  height: 7%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

button.back {
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
  border: none;
  background: none;
}

nav > h1 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

/* Navbar ends here */

/* Onboard starts here */
#onboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

#onboard > section.wrapper {
  display: flex;
  width: 92%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#onboard #slider {
  width: 91%;
  height: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.slider-image-wrapper {
  width: 100%;
  height: 59%;
  background-image: url("./components//assets/slide-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-content-wrapper {
  width: 89%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15%;
  text-align: center;
}

.title-1 {
  font-size: 1.9rem;
  font-weight: 1000;
  color: var(--dark-clr-1);
}

.descp-1 {
  font-size: 1rem;
  color: var(--light-clr-2);
}

#onboard #button-box {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

button.dark,
button.light {
  width: 100%;
  height: 56px;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

/* Onboard ends here */

/* Signup starts here */

section.signup,
section.signin {
  width: 91%;
  height: 60%;
  margin: auto;
  margin-top: 11%;

  /* background-color: #837b92; */
}

section.signin {
  height: 42%;
}

form.signup,
form.signin {
  height: 79%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6%;
}

form.signin {
  height: 67%;
  justify-content: space-between;
  margin-bottom: 5%;
}

form.signup > input,
form.signup > button {
  height: 15% !important;
  width: 100%;
}

form.signin > input,
form.signin > button {
  height: 25% !important;
  width: 100%;
}

form.signup > input,
form.signin > input {
  border: none;
  border-radius: 16px;
  outline: none;
  background-color: var(--light-clr-1);
  color: var(--light-clr-2);
  font-size: 1rem;
  padding: 5%;
}

form.signup > label,
form.signin > label {
  width: 97%;
  display: flex;
  gap: 5%;
  font-size: 14px;
  font-weight: 700;
}

p#or-with {
  font-size: 14px;
  font-weight: bold;
  color: var(--light-clr-2);
}

div.form-other-options {
  width: 100%;
  height: 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.form-other-options > button {
  height: 59%;
  background-color: var(--light-clr-1);
  color: var(--dark-clr-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  font-weight: 700;
}

#forgot-pwd {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-clr);
  margin: 3% 0;
}

div.form-other-options > p {
  color: var(--light-clr-2);
  font-size: 1rem;
  font-weight: 600;
}

.switch-form {
  background: none;
  border: none;
  text-decoration: underline;
  font-weight: 700;
}

/* Signup ends here */
