* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 360px;
  min-height: 100vh;
  max-width: 360px;
  max-height: 100vh;
  margin: auto;
  border: 1px solid;
}

/* Onboard Page starts*/
main#onboard {
  display: flex;
}

/* Onboard Page ends*/
